:root {
    background-color: steelblue;
}

.obj {
    max-width: fit-content;
    min-width: 30px;
    overflow: hidden;
    transition: all .100s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.cloud {
    opacity: 0.7
}

.runner {
    position: relative;
    bottom: 52px;
}

.ground {
    background: rgba(0, 128, 0, 0) !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px
}

.bg-slate {
    background-color: rgba(3, 17, 34, 0.505);
}

@keyframes Pop {
    from {
        position: relative;
        bottom: 6px;
        opacity: 0.6;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.pop {
    transition: all, .3s;
    animation-name: Pop;
    -webkit-animation-name: Pop;
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes Rotate {
    from {
        rotate: -180deg;
    }

    to {
        rotate: 0deg;
    }
}

@keyframes Swing {
    0% {
        rotate: -2deg;
    }

    50% {
        rotate: 2deg;
    }

    100% {
        rotate: -2deg;
    }
}

.rtt-180 {
    transition: all, .3s;
    animation-name: Rotate;
    -webkit-animation-name: Rotate;
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

}

.rtt-180:hover {
    transition: all, .4s;
    rotate: 40deg;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

}

.rtt-180:active {
    transition: all, .4s;
    rotate: 0deg;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.swing {
    transition: all, .3s;
    animation-name: Swing;
    -webkit-animation-name: Swing;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-iteration-count: infinite;
}

.rotate-45 {
    transition: none;
    rotate: 45deg;
}