.obj {
    max-width: fit-content;
    overflow: hidden;
    transition: all .100s;
    transition-timing-function: linear;
}

.cloud {
    opacity: 0.7
}

.runnerBody {
    transition: all .6s;
}

.runner {
    position: relative;
    bottom: 54px;
}

.ground {
    position: fixed;
    top: 50vh;
    bottom: 0px;
    left: 0px;
    right: 0px
}